@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Hind Siliguri', sans-serif;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}


header {
    background-color: white;

    nav {

        img {
            height: 48px;
        }

        ul {
            margin: 0 !important;
        }

        a {
            padding: 0 8px;
        }

        input[type="search"] {
            border: none;
            position: relative;
            border-bottom: 1px solid #3979E3;
            font-size: 15px;
            padding-left: 8px;
            height: 32px;
            width: 180px;
            outline: none;
        }

        input[type="search"]::placeholder {
            text-align: end;
        }
    }
}

main {
    background-color: #1C1C1C;
}


footer {
    background-color: #292C33;
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;

    .LinksContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        ul {
            padding: 0 32px 12px 0;
        }

        h3 {
            color: white;
        }

        a {
            font-size: 14px;
            color: #929292;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }

    .imgBox {
        position: relative;
        height: 500px;
        width: 500px;
        overflow-y: hidden;

        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}